nav a {
    color: #0011ffdc;
   text-decoration: none;
   display:inline;
}

a:hover{
    color: rgb(0, 140, 255); 
    transition: background-color 3.5s ease-in-out;
    background-color: rgb(60, 60, 214);
}


 div.relative {
      position: relative;
      left: 950px;
 

    }
    nav a{
        margin-left:10px ;
        margin-right: 10px;
    }
