nav a {
    color: #0011ffdc;
   text-decoration: none;
}

a:hover{
    color: rgb(0, 38, 255); 
}


 div.relative {
      position: relative;
      left: 950px;
 

    }
    nav a{
        margin-left:10px ;
        margin-right: 10px;
    }
